// texto
color: black;
font-size: 36px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// img
color: black;
font-size: 36px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// imagen celular
color: black;
font-size: 32px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// texto
color: black;
font-size: 32px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// texto
color: black;
font-size: 32px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// texto
color: black;
font-size: 32px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// logo
color: black;
font-size: 32px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// img
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// img
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// img
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// texto
color: black;
font-size: 36px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// img
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// img
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// img
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// texto
color: black;
font-size: 16px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// texto
color: black;
font-size: 16px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word
---
// texto
color: black;
font-size: 16px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word